/*common_tagName_style*/

html {
  font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  overflow-x: hidden;
  min-width: 320px;
  /*-webkit-overflow-scrolling: touch;*/
  color: #1a1a1a;
  background: #f9f9f9;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #20a0ff;
}

a:active {
  outline: 0;
}

a:active {
  color: #4db3ff;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1rem
}

mark {
  background: #ff0;
  color: #1a1a1a;
}

dfn {
  font-style: italic;
}

h1, h2, h3, strong {
  font-weight: 600;
}

button {
  overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  /*cursor: not-allowed;*/
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, select, textarea {
  font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

/* placeholder 文字颜色 */
input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */ 
input::-moz-placeholder, /* Mozilla Firefox 19+ */ 
textarea:-moz-placeholder,
textarea::-moz-placeholder, {
  color: #cccccc;
}

input:-ms-input-placeholder, /* Internet Explorer 10+ */ 
textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, /* WebKit browsers */ 
textarea::-webkit-input-placeholder {
  color: #cccccc;
}


/*common_class_style*/

/* 怪异盒模型 */
.border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 显示隐藏 */
.hide {
  display: none!important;
}

.show {
  display: block!important;
}

/* 超出文字省略显示 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 超出换行 */
.break {
  word-break: break-all;
  word-wrap: break-word;
}

/* 清除浮动 */
.clearFloat:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both
}

.clearFloat {
  *zoom: 1
}

/* 垂直对齐 */
.afterMiddle:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

/* 文本不可选 */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*noScript*/

.noScript {
  margin: 10px;
  text-align: center;
  background: #adb9c4;
  color: #fff;
  display: block;
  height: 40px;
  line-height: 40px
}